body{
   margin: 0;
   font-family: sans-serif;
   text-align: center;
}
#page-heading{
   text-align: center;
   margin-top: 25px;
   color:grey;
}
#contact-list-container ul{
  padding: 0;
  list-style: none;
 
}
.contact{
   padding: 3px 10px;
   border: 1px solid white;
   background-color: lightblue;
   box-shadow: 1px 1px 1px 1px lightgray;
   color: white;
   display:flex;
}
.contact .details{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 90%;
}
.contact .delete-button{
  width:10%;
  text-align: center; 
  margin-top: 6px;
}
.contact .delete-button a{
   color: white;
   background-color: red ;
}
.contact p{
   margin:5px 0;
}
.contact:hover{
   color: grey;
}